<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>New Snus Product</h1>
    <form action="/createdSnus" method="post">

        <label for="name">Name</label><br>
        <input type="text" name="name" id="name">
        <br>
        <label for="brand">Brand</label><br>
        <input type="text" name="brand" id="brand">
        <br>
        <label for="price">Price</label><br>
        <input type="text" name="price" id="price">
        <br>
        <label for="strength">Strength</label><br>
        <input type="text" name="strength" id="strength">
        <br>
        <label for="country">Country</label><br>
        <input type="text" name="country" id="country">
        <br>
        <button type="submit" name="submit" button class="btn btn-create">Create</button>
    </form>
</div>





</body>


</body>
</html>